<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header_single.html" . -}}
        <div id="content">

    <!--==========================
      Content Section
    ============================-->
    <section id="team" class="section-bg">
        <div class="container">
          <div class="section-header">
            <p></p>
            <p></p>
            <h3>Error 404</h3>
            <p>La página no existe o ha cambiado de dirección url. por favor, haga clic en el menú para ir a inicio</p>
          </div>
  
          <div class="row">

  
          </div>
  
        </div>
      </section><!-- #content -->
            
        </div>
        <p></p>
        <p></p>
        {{- partial "footer.html" . -}}
    </body>
</html>
