<!DOCTYPE html>
<html lang="en">

    {{- partial "head.html" . -}}

<body>

    {{- partial "header_single.html" . -}}

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h2>Una web rápida<br>para tu <span>Blog</span></h2>
          <div>
            <a href="https://forestry.io/" class="btn-get-started scrollto">Comienza</a>
          </div>
        </div>
  
        <div class="col-md-6 intro-img order-md-last order-first">
          <img src="img/intro-img.svg" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->


    {{- partial "footer.html" . -}}

</body>
</html>
